extends layout

block content
  section(class='container')
    .v-spacer
    .v-spacer
    h1= title
    p After you enter the code shown on KODI client, you will be directed to the Google Sign-in Page. 

    form(action='/authenticate' method='post') 
      input.input-code(name="code" placeholder="Enter code..." value=code)
      .v-spacer
      div
        button.nav-button(type="submit" value='Next') Next >

    if errors
      br
      ul
        for error in errors
          li
            text.error=error.msg || 'Invalid Code'
      br
    br


