extends layout

block content
  section(class='container')
    h1= title
    ol
      li Login to your Google Account 
      li Go to https://console.cloud.google.com/apis/dashboard
      li Select a project -> New Project -> Create
      li Click "Enable APIs and Services" -> Search "Photos" and select "Photos Library API" -> Enable
      li Goto "OAuth consent screen" tab -> Select "External" and create -> Fill the mandatory fields. Be sure to fill "photos-kodi-addon.onrender.com" as authorised domain -> Save and Continue 
      li Click "Add or remove scopes"
      li Select the following scopes
        ul
          li ./auth/userinfo.email
          li openid
          li ./auth/photoslibrary.readonly
      li Fill other mandatory fields as per your choice and "Save and Continue".
      li Click "Add Users" and enter all the accounts which you want to use with the Kodi addon.
      li Save and Continue -> Back to dashboard 
      li Open "Credentials" tab.
      li Create credentials -> OAuth Client ID -> Web Application
      li Set "https://photos-kodi-addon.onrender.com" as Authorized Javascript Origins
      li Set https://photos-kodi-addon.onrender.com/auth/google/callback as Authorized redirect URIs -> Create 
      li Copy these client ID and secret to the Addon settings.

    p 
    | Checkout 
    a(href="https://support.google.com/cloud/answer/6158849?hl=en") this Google Answer 
    | for more details.











