extends layout

block content
  section(class='container')
    .v-spacer
    .v-spacer
    h1= title
    p 
      | This addon allows you to view photos and videos from your Google Photos Library on you KODI app. 
      | To use this website you would need access to KODI media player with the GPhotos addon installed.
      | Kodi is a free and open-source media player software application developed by the XBMC Foundation, a non-profit technology consortium.  

    a(href='/authenticate')
      button.nav-button(value='to_login') Go to login page
    br
    br
    ul
      li The addon can be installed from official Kodi repository.
      li 
        | General instructions to install a Kodi addon can be found in the 
        a(href='https://kodi.wiki/view/Add-on_manager#How_to_install_add-ons_from_a_repository') Kodi 
        | wiki.
      li
        | Source code of the addon is available at 
        a(href='https://github.com/pransin/plugin.picture.googlephotos') Github.    
      li 
        a(href='/privacypolicy') Privacy Policy
      li This program is not affiliated with Google.
